article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: #d3c6a029;
}
body {
  margin: 0;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}
pre {
  white-space: pre-wrap;
}
q {
  quotes: "\201C""\201D""\2018""\2019";
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}
button,
input {
  line-height: normal;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}

/* .. normalize */

body {
  --ssh-brown-700: #4a3428;
  --ssh-brown-500: #5a4030;
  --ssh-brown-400: #8b634b;
  --ssh-brown-200: #cfb6a7;
  --ssh-brown-100: #f4efec;

  --ssh-olive-900: #1e1a0f;
  --ssh-olive-700: #342d18;
  --ssh-olive-500: #84733e;
  --ssh-olive-400: #b39e5d;
  --ssh-olive-200: #d3c6a0;
  --ssh-olive-100: #f8f6f0;

  --ssh-orangered-900: #963702;
  --ssh-orangered-700: #c84903;
  --ssh-orangered-500: #e95504;
  --ssh-orangered-400: #fb6f22;
  --ssh-orangered-200: #fee2d2;
  --ssh-orangered-100: #fef1ea;

  --ssh-yellow-700: #ffff14;
  --ssh-yellow-200: #ffffb1;
  --ssh-yellow-100: #ffffeb;

  --ssh-black-900: #1d1c1b;
  --ssh-black-700: #4e4b49;
  --ssh-black-500: #65615e;
  --ssh-black-400: #a6a2a0;
  --ssh-black-200: #d5d3d2;
  --ssh-black-100: #f1f0f0;

  --ssh-white-900: #ffffff;

  --ssh-overlay-20: #00000020;
  --ssh-overlay-40: #00000040;

  --color-bg: #111;
  --grid-item-bg: #f8f6f0;

  --color-text: #342d18;
  --color-link-darkolive: #84733e;
  --color-link-olive: #d3c6a0;
  --color-link-lightolive: #f8f6f0;
  --color-link-white: #f8f6f0;

  --color-link-hover: #b39e5d;

  --color-info: #000;

  font-family: -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR",
    "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    sans-serif;
  min-height: 100vh;

  color: var(--color-text);
  background-color: var(--color-bg);
}

/* page loader */

.preloader-sub {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100% !important;
  height: 100% !important;
  z-index: 10001 !important;
}

.preloader-sub .preloader-sub_cover {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--color-bg);
  -webkit-clip-path: inset(0% 0% 0% 0%);
  clip-path: inset(0% 0% 0% 0%);
}

.preloader-sub .preloader-sub_logo {
  display: flex;
  justify-content: center;

  transform: translate(0, 0);
}

.preloader-sub .preloader-sub_logo svg {
  width: 50%;
  height: auto;

  max-width: 80px;
  max-height: 60vh;
}

.preloader-sub .preloader-sub_logo g:nth-of-type(1) {
  opacity: 0;
}

.preloader-sub .preloader-sub_logoAfter {
  -webkit-clip-path: inset(0% 0% 0% 0%);
  clip-path: inset(0% 0% 0% 0%);

  opacity: 0.01;
}

@media screen and (min-width: 768px) {
  .preloader-sub .preloader-sub_logo svg {
    width: 60%;
  }
}

/* page loader end */

a {
  text-decoration: none;
  color: var(--color-link);
  outline: none;
}

a:hover,
a:focus {
  color: var(--color-link-hover);
  outline: none;
}

.hidden {
  position: absolute;
  overflow: hidden;
  width: 0;
  height: 0;
  pointer-events: none;
}

main {
  position: relative;
}

/* header */

.header__container {
  position: relative;
  padding: 1rem;
}

.header__container figure {
  display: flex;
  flex-direction: column;

  align-items: start;
}

.header__container figure > img {
  width: 120px;
  height: auto;

  object-fit: cover;
}

.header__container figure > figcaption {
  display: inline;
  width: 90%;

  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.68;
  word-break: keep-all;

  padding-bottom: 0.5rem;
}

.header__container figure > a {
  display: inline;

  font-size: 0.625rem;
  font-weight: 400;
  vertical-align: 50%;
  line-height: 1.5;

  padding-top: 0.5rem;
  margin-left: 1.125rem;
  transition: opacity 0.25s;
}

.header__container figure > a > span {
  content: "→";

  position: absolute;
  transform: translateX(-1.25rem);

  font-size: 0.375rem;

  vertical-align: 100%;
  text-align: center;

  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 14px;
  height: 14px;
  margin: 0 auto;

  background: var(--ssh-olive-200);
  color: var(--ssh-olive-900);
  border-radius: 100%;
}

.header__container figure > a:hover {
  opacity: 0.6;
}

header {
  display: flex;
  flex-direction: column;

  align-items: start;

  position: relative;
  z-index: 100;
  text-align: left;
  font-size: 1rem;
  color: var(--color-link-olive);
}

.header__wrapper {
  display: flex;
  flex-direction: row;
}

.header__wrapper:nth-child(2) {
  padding-left: 0;
  padding-top: 1.5rem;
}

.header__wrapper > div {
  padding-left: 2.5rem;
}

.header__wrapper > div > hr {
  color: var(--color-link-olive);
  opacity: 0.6;
  border-width: 0.5px;
}

.header__wrapper > div > a {
  display: block;

  font-size: 0.875rem;
  line-height: 1.75;
  transition: opacity 0.25s;
}

.header__wrapper > div > a::before {
  content: "\25A1";
  font-size: 0.625rem;
  margin-right: 6px;

  vertical-align: 5%;
}

.header__wrapper > div > a:hover {
  opacity: 0.7;
}

.header__wrapper > div > a.open {
  width: fit-content;
  color: var(--ssh-olive-100);
  cursor: not-allowed;
}

.header__wrapper > div > a.open::before {
  content: "\25A0";
}

.header__wrapper > figure > img {
  width: 30px;
  object-fit: contain;
}
.header__wrapper > figure > img.caption {
  width: 140px;
}

.header__title {
  font-size: 0.9rem;
  line-height: 1.875;
  font-weight: 600;
  text-align: left;
  margin: 0;
  padding: 0;
}

/* tag-function */

.tag__container {
}

.tag__container > ul {
  margin: 0 1rem;
  padding: 0;
}

.tag__container > ul > li {
  display: inline-block;
  list-style: none;

  margin: 0 0.125rem;

  padding: 0.25rem 0.5rem;
  border-radius: 20px;
  background: var(--color-link-olive);
  color: var(--color-text);

  font-size: 0.75rem;
}

/* content */

.grid-wrap {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
  padding: 4rem 1rem 0;
}

.grid-wrap--hidden {
  height: 0;
  overflow: hidden;
}

.grid {
  margin: 0 auto;
  position: relative;
  display: none;
}

.js .grid {
  display: block;
}

.grid__item {
  width: 280px;
  position: relative;
  padding: 0.75rem 4rem 4rem 0.75rem;
  margin-bottom: 4.75rem;
}

/* .grid__item:focus {
} */

.grid__item-wrap {
  position: relative;
}

.grid__item-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--grid-item-bg);
}

.grid__item-img {
  display: block;
  position: relative;
  max-width: 100%;
  margin: 0 auto;
  outline: 1px solid transparent;

  pointer-events: none;
}

.grid__item:nth-child(even) .grid__item-img {
  transform: rotate3d(0, 0, 1, 0deg);
}

.grid__item:nth-child(odd) .grid__item-img {
  transform: rotate3d(0, 0, 1, 0deg);
}

.grid__item-title {
  position: absolute;
  left: 0.875rem;
  bottom: 0.375rem;
  margin: 0;

  width: 18ch;
  color: var(--color-text);

  font-size: 1.3125rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0.25px;
  word-break: keep-all;

  transform-origin: 0 50%;
  transition: color 0.125s;
}

.grid__item-title > span {
  text-orientation: sideways;
  margin: 0.125rem 0;
}

.grid__item-title > span.kr {
  text-orientation: inherit;
  letter-spacing: -0.1px;
}

.grid__item-title > em {
  background: transparent;

  font-style: normal;
  writing-mode: initial;
  vertical-align: top;

  transform: translateY(-0.25rem);
  margin: -0.25rem 0 0.375rem;
}

.grid__item-number {
  position: absolute;
  height: 100%;
  right: 0.2625rem;
  top: 0.625rem;
  margin: 0;

  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;

  font-size: 1rem;
  line-height: 1;
  font-weight: 500;
  letter-spacing: -0.25px;
  word-spacing: 0;

  color: var(--color-text);
}

/* .grid__item-number > em {
  text-orientation: sideways;
  vertical-align: text-top;
  margin: 0.375rem 0 0.5rem;
} */

.grid__item-number > span {
  display: inline-block;
}

.grid__item small {
  position: absolute;

  right: -1.375rem;
  top: 0;

  color: var(--color-link-olive);

  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
  text-orientation: sideways;

  font-size: 0.7rem;
  font-weight: 500;

  letter-spacing: 0;
  word-spacing: -0.5px;
}

.grid__item:hover small,
.grid__item:hover .grid__item-title,
.grid__item:hover .grid__item-number {
  color: var(--color-link-hover);
}

.content {
  margin: 0 auto;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  align-items: center;
  pointer-events: none;
}

.js .content {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.content__item {
  padding: 10rem 5vw 10rem;
  grid-area: 1 / 1 / 1 / 1;
}

.js .content__item {
  height: 0;
  opacity: 0;
  overflow: hidden;
  padding: 0;
  pointer-events: none;
}

.js .content__item--current {
  height: auto;
  opacity: 1;
  padding: 6rem 5vw 10rem;
  pointer-events: auto;
}

.content__item-intro {
  position: relative;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  align-items: center;
}

.content__item-img {
  position: relative;
  height: auto;
  max-width: 100%;
  display: block;
  margin: 0 auto;
  grid-area: 1 / 1 / 1 / 1;
}

.js .content__item-img {
  visibility: hidden;
}

.content__item-title {
  position: relative;
  font-size: 1.5rem;
  line-height: 1;
  text-align: center;
  color: var(--color-link-olive);

  margin: 0;
  padding: 0 5vw;
  white-space: nowrap;
  grid-area: 1 / 1 / 1 / 1;
}

.content__item-title > span {
  white-space: pre;
  display: inline-block;
}

.content__item-subtitle {
  text-align: center;
  font-size: 1.25rem;
  font-weight: normal;
  margin: 3rem auto;
}

.content__item-text {
  text-align: left;
  max-width: 840px;
  margin: 0 auto;
}

.column_count_1 {
  -moz-column-count: 1;
  -webkit-column-count: 1;
  column-count: 1;
}

.break_point {
  break-after: column;
}

.content__item-text p {
  text-indent: 0.75rem;
  word-break: keep-all;
  line-height: 1.68;

  margin: 0;
}

.content_cr {
  padding-bottom: 1rem;
}

.content__item-text p > a,
.content__item-text h4 > a,
.content__item-text h5 > a {
  text-decoration: underline;

  color: var(--color-link-darkolive);
  transition: color 0.25s;
}

.content__item-text p > a:hover,
.content__item-text h4 > a:hover,
.content__item-text h5 > a:hover {
  color: var(--color-info);
}

.content__item-text p > sup {
  color: var(--color-link-darkolive);
  margin-right: 0.125rem;
}

.content__item-text h3 {
  font-size: 1.25rem;
  margin-block-end: 0.33em;
  margin-block-start: 1.9em;
  line-height: 1.68;
}

.content__item-text h4 {
  font-size: 1rem;
  margin-block-end: 1.33em;
  margin-block-start: 2.6em;
}

.content__item-text h5 {
  font-size: 1rem;
  margin-block-end: 1.33em;
  margin-block-start: 1.33em;
  line-height: 1.68;
}

.content__item-subtitle,
.content__item-text h4,
.content__item-text h3,
.content__item-text p {
  color: var(--color-link);
}

.content__item-text figure {
  padding: 0.75rem 0;
}

.content__item-text figure > img {
  width: 100%;
  padding: 0.25rem 0;
}

.content__item-text figure > figcaption {
  font-size: 0.75rem;
  font-style: italic;

  margin-bottom: 0.5rem;
}

.content__item-text.column_count_1 figure > img {
  max-width: 640px;
  padding: 0.25rem 0;

  margin: 0 auto;
}

.content__item-text > hr {
  margin-block-start: 1.25rem;
  margin-block-end: 1.25rem;
  border-width: 0.5px;
  color: var(--color-link-white);
}

.content__close {
  position: absolute;
  top: 0.75rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10000;

  font-size: 0.75rem;

  background: var(--color-bg);
  color: var(--color-link-olive);
  border-radius: 24px;

  border: 0;
  margin: 0 auto;
  padding: 8px 16px;
  cursor: pointer;
}

.content__close:focus {
  outline: none;
}

.content__item--current ~ .content__close {
  pointer-events: auto;
}

.content__item__button {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  bottom: 3rem;

  font-size: 0.75rem;

  background: var(--color-bg);
  color: var(--color-link-olive);
  border-radius: 24px;

  border: 0;
  margin: 0 auto;
  padding: 8px 16px;
  cursor: pointer;
}

.mobile__top__button {
  display: block;
  margin: 1rem auto;
  text-align: center;
}

.top__button {
  position: relative;

  font-size: 0.75rem;
  background: var(--color-link-olive);
  color: var(--color-bg);
  border-radius: 24px;
  border: 0;

  padding: 8px 16px;
  transition: opacity 0.25s;
  cursor: pointer;
}

.top__button:hover {
  opacity: 0.7;
  color: var(--color-bg);
}

.copyright__container {
  text-align: center;
  margin: 3rem auto;
}

.copyright__container > sub {
  font-size: 0.625rem;
  line-height: 3;
  color: var(--color-link-lightolive);
  opacity: 0.4;
}

.copyright__container > sub > a:hover {
  text-decoration: underline;
  text-underline-position: under;
}

/* 
.content__close:hover,
.content__item__button:hover {
  opacity: 0.7;
} */

.content__indicator {
  position: absolute;
  top: calc(100vh - 6rem);
  left: calc(50% - 0.75rem);
  display: none;
}

.js .content__item-title > span,
.js .content__item-subtitle,
.js .content__item-text,
.content__close,
.content__indicator {
  opacity: 0;
}

@media screen and (min-width: 55em) {
  .header__container {
    display: flex;
    align-items: start;
    justify-content: space-between;

    padding: 1.5rem;
  }

  header {
    display: flex;
    flex-direction: row;

    align-items: start;
  }

  .header__title {
    text-align: left;

    font-size: 1rem;
    line-height: 2;
  }

  .header__container figure > figcaption {
    width: 54ch;
  }

  .header__wrapper:nth-child(2) {
    padding-top: 0;
    padding-left: 3.25rem;
  }

  .header__wrapper > div {
    padding-left: 10vw;
  }

  .header__wrapper > figure > img {
    width: 36px;
  }

  .grid__item-title {
    margin-left: -0.25rem;
  }

  .content__close,
  .content__item__button {
    font-size: 1rem;
  }

  .mobile__top__button {
    display: none;
  }

  .copyright__container {
    margin: 1.5rem auto;
  }

  .content__item-title {
    font-size: 4vw;
  }

  .content__item-subtitle {
    font-size: 2vw;
  }
  .content__item-text {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
    column-gap: 6rem;
  }

  .column_count_1 {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
  }

  .content__item-img {
    max-width: none;
    height: calc(100vh - 12rem);
  }
  .content__item-subtitle {
    max-width: 50%;
  }
  .content__indicator {
    display: block;
  }
}
